@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-Regular.ttf');
  font-weight: normal;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'PT Sans', sans-serif;
  }
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf');
  font-weight: normal;
}

